{% extends "base.html" %}

{% block nav_content %} 
<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link " href="/">Info</a>
  </li>

    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/index_visitante">Visitantes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/index_vigilante">Seguridad</a>
    </li>
   
</div>
</div>
{%endblock %}

{% block page_content %}
  

<div class="row align-items-center g-lg-5 py-5">
  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-4 fw-bold lh-1 mb-3">Bienvenido visitante UTB </h1>
    <p class="col-lg-10 fs-4">Registrate como visitante frecuente y programa tu proxima visita.</p>
    <p class="col-lg-10 fs-4">Colaboremos con la seguridad de nuestra comunidad UTB .</p>
  </div>

    <div class="col-md-10 mx-auto col-lg-5"> 
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
               <!-- mensajes de verificacion  -->      
               {% with messages = get_flashed_messages()  %}
               {% if messages %}
                 {% for message in messages %}
                      {% if mensaje_error==1 %}
                       <div class="alert alert-danger alert-dismissible fade show" role="alert">
                         {{ message }}
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                       </div>
                       {% endif %}
                       {% if mensaje_error==0 %}
                       <div class="alert alert-success alert-dismissible fade show" role="alert">
                         {{ message }}
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                       </div>
                       {% endif %}
                 {% endfor %}
               {% endif %}
           {% endwith %}
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h2 class="fw-bold mb-0">Ingrese Sus Datos </h2>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form action="/add_visitante" method="post">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control rounded-4" name="nombre" required>
                  <label for="floatingInput">nombre</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control rounded-4" name="apellido" required>
                  <label for="floatingInput">apellido</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" name="e-mail" id="floatingInput" placeholder="name@example.com" required>
                  <label for="floatingInput"> E.mail </label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select" aria-label="Default select example" name="tipo">
                        <option selected><Q>Que Tipo de visitante es ?</Q></option>
                        <option value="Estudiante">Estudiante</option>
                        <option value="Profesor">TProfesor</option>
                        <option value="Administrativo">Administrativo</option>
                        <option value="Externo">Externo</option>
                      </select>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4" name="placa" required>
                    <label for="floatingInput">Placa de vehiculo</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4" name="descripcion" required>
                    <label for="floatingInput">Descripcion del vehiculo</label>
                  </div>
                  
                <button class="w-100 mb-2 btn btn-lg rounded-4 btn-success" type="submit">Registrar</button>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>






{% endblock %}






